li a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color:#073d4e;
    color:white;
    padding: 0 9 0 9;

}

