<input type="text" id="first" [(ngModel)]="first">
<input type="text" id="second" [(ngModel)]="second">
<button id="gobutton" type="button" (click)='add()'>Go</button>
<span id="result">{{result}}</span>